Module {
   backgroundColor: #ffffff;
   backgroundGradientColors: #ffffff, #ffffff;
}

Accordion {
   backgroundAlpha: 0.7;
   headerHeight:30;
   borderColor: #0099ff;
   textRollOverColor: #00ffff;
   textSelectedColor: #ff0066;
   headerStyleName: "myaccordionHeader";
}

.myaccordionHeader {
   fontSize: 12;
   selectedFillColors: #ffff00, #ffff99;
}

Button {
   cornerRadius: 8;
   textRollOverColor: #00ffff;
   textSelectedColor: #ff0033;
   borderColor: #ffff00;
   fontSize: 12;
   fontWeight: bold;
}

ButtonBar {
   buttonStyleName: "mybuttonBarButtonStyle";
   firstButtonStyleName: "mybuttonBarFirstButtonStyle";
   lastButtonStyleName: "mybuttonBarLastButtonStyle";
}

.mybuttonBarButtonStyle {
   textRollOverColor: #00ffff;
   textSelectedColor: #ff0033;
   borderColor: #ffff00;
   fontSize: 12;
}

.mybuttonBarFirstButtonStyle {
   cornerRadius: 10;
}

.mybuttonBarLastButtonStyle {
   cornerRadius: 10;
}

ApplicationControlBar {
   highlightAlphas: 0.2, 0;
   fillAlphas: 0.3, 0.3;
   backgroundColor: #0099ff;
   backgroundAlpha: 0.70;
   cornerRadius: 10;
   shadowDirection: center;
}

CheckBox {
   borderColor: #ffff00;
   textSelectedColor: #ff0033;
   textRollOverColor: #00ffff;
   fontSize: 12;
}

DateChooser {
   todayColor: #0099ff;
   borderColor: #0099ff;
   fontSize: 12;
}

HScrollBar {
   cornerRadius: 0;
   trackColors: #ffffff, #e7e7e7;
   themeColor: #0099ff;
   borderColor: #ffffff;
}

Panel {
   borderColor: #ffffff;
   borderAlpha: 0.3;
   cornerRadius: 10;
   backgroundAlpha: 0.7;
   highlightAlphas: 0, 0;
   headerColors: #0066ff, #ffffff;
   footerColors: #0066ff, #ffffff;
   titleStyleName: "mypanelTitle";
}

.mypanelTitle {
   fontSize: 12;
}

RadioButton {
   borderColor: #ffff00;
   textSelectedColor: #ff0033;
   textRollOverColor: #00ffff;
   fontSize: 12;
}

TabNavigator {
   cornerRadius: 0;
   backgroundAlpha: 0.7;
   borderColor: #ffff00;
   tabStyleName: "myTabs";
   firstTabStyleName: "myTabs";
   lastTabStyleName: "myTabs";
   selectedTabTextStyleName: "mySelectedTabs";
}

.myTabs {
   cornerRadius: 10;
   backgroundAlpha: 0.7;
   borderColor: #ffff00;
   textRollOverColor: #00ffff;
   fontSize: 12;

}

.mySelectedTabs {
   textRollOverColor: #ff0033;
}

TextArea {
   fontSize: 12;
   backgroundAlpha: 0.7;
   borderColor: #ffffff;
   cornerRadius: 10;
}

TextInput {
   borderColor: #ffff00;
}

VScrollBar {
   cornerRadius: 0;
   trackColors: #ffffff, #e7e7e7;
   borderColor: #ffffff;
}

