/* CSS file */
Application {
   backgroundColor: #ffffff;
   backgroundGradientColors: #0099ff, #ffffff;
}

Accordion {
   backgroundAlpha: 0.9;
   selectedFillColors: #ffff00, #ffff99;
   borderColor: #ffff00;
   textRollOverColor: #00ffff;
   textSelectedColor: #ff0066;
   headerStyleName: "myaccordionHeader";
}

.myaccordionHeader {
   fontSize: 15;
}

Button {
   cornerRadius: 10;
   textRollOverColor: #00ffff;
   textSelectedColor: #ff0033;
   borderColor: #ffff00;
   fontSize: 15;
   fontWeight: bold;
   
}

DateChooser {
   todayColor: #ff00ff;
   borderColor: #ffff00;
   fontSize: 15;
}

HScrollBar {
   cornerRadius: 0;
   trackColors: #ffffff, #e7e7e7;
   themeColor: #0099ff;
   borderColor: #ffff00;
}

Panel {
   borderColor: #ffffff;
   borderAlpha: 0.4;
   cornerRadius: 8;
   backgroundAlpha: 1.0;
   highlightAlphas: 0, 0;
   headerColors: #0066ff, #ffffff;
   footerColors: #0066ff, #ffffff;
   titleStyleName: "mypanelTitle";
}

.mypanelTitle {
   fontSize: 15;
}

RadioButton {
   borderColor: #ffff00;
   textSelectedColor: #ff0033;
   textRollOverColor: #00ffff;
   fontSize: 15;
}

TextArea {
   fontSize: 15;
   backgroundAlpha: 0.9;
   borderColor: #ffff00;
   cornerRadius: 5;
}

TextInput {
   borderColor: #ffff00;
}

VScrollBar {
   cornerRadius: 0;
   trackColors: #ffffff, #e7e7e7;
   borderColor: #ffff00;
}

